@tailwind base;
@tailwind components;
@tailwind utilities;

/* Removing Input Focus Outline */
textarea:focus,
input:focus {
    outline: none;
}

/* Removing Number Input Style */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

@layer components {
    .red-theme {
        @apply text-red-700 border-red-700;
    }

    .green-theme {
        @apply text-green-700 border-green-700;
    }

    .blue-theme {
        @apply text-blue-700 border-blue-700;
    }
}
